# Node modules
node_modules/

# Environment variables and secrets
.env
src/config/serviceAccountKey.json
src/config/qr-payment-8a0f0-firebase-adminsdk*.json
src/config/qr-payment-adminsdk-*.json


!package.json
!package-lock.json
.env


# Firebase cache
.firebase/
*.log